<div class="form-group nested-fields">
    <%= f.label :student %>
    <div class="input-group">
        <%= f.text_field :email, id: :student, class: 'form-control' %>
        <div class="input-group-append">
            <%= link_to_remove_association 'Remove Student', f, class: 'btn btn-danger' %>
        </div>
    </div>
</div>
