<h2>Welcome to Writing Reviewer!</h2>
<p>Writing Reviewer is a tool to help students and professors coordinate peer reviews and give feedback.</p>
<%= link_to 'Login', new_user_session_path, class: 'btn btn-lg btn-primary' %>
<%= link_to 'Signup', new_user_registration_path, class: 'btn btn-lg btn-success' %>
