<div class="box">
    <% if user_signed_in? %>
        <% if current_user.is_student? %>
            <h4>Your Assignments</h4>
            <ul>
                <li>Item</li>
            </ul>
            <h4>Your Reviews</h4>
            <ul>
                <li>Item</li>
            </ul>
        <% else %>
            <h4>Created Assignments</h4>
            <ul>
                <% if current_user.given_assignments.each do |v| %>
                    <li><%= link_to v.title, assignment_path(v) %></li>
                <% end.empty? %>
                    <li>You have not created any assignments yet!</li>
                <% end %>
            </ul>
            <%= link_to 'Create Assignment', new_assignment_path, class: 'btn btn-success' %>
        <% end %>
    <% else %>
        <h2>Welcome to Writing Reviewer!</h2>
        <p>Writing Reviewer is a tool to help students and professors coordinate peer reviews and give feedback.</p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-success' %>
    <% end %>
</div>
