// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "selectize.css";

#groups .group {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}
#groups .group .group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
#groups .group .group-items {
    width: 100%;
    min-height: 100px;
}
ul .group {
    font-size: 0.75em;
    color: #666;
}
