// Place all the styles related to the essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.essay {
    width: calc(100% - 350px);
    height: calc(100vh - 56px);
    background-color: #ccc;
    float: left;
}
.essay iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#review-tools {
    float: left;
    width: 350px;
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 56px);
}
.comment {
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.comment .creator {
    font-size: 0.7em;
    font-style: italic;
}
#essay-container {
    margin: -15px;
}
.late {
    color: red;
}
